src/main/resources/xsd/liferay-custom-sql_7_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="custom-sql">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="sql"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="sql">
        <xs:complexType mixed="true">
            <xs:attribute name="file"/>
            <xs:attribute name="id"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
